%h4 My Cart
%br
= button_to "Checkout", pay_items_path, method: :patch		
- @items.each do |i|
	- if @current_user.id == i.buyer_id && i.status == "IN CART"
		%br
		%br
		Item Name:
		= i.name
		%br
		Price:
		= i.price
		%br
		Status:
		= i.status
		%br
			